@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:wght@400;700&display=swap');

*, ::after, ::before{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html{
  font-family: 'Noto Sans', sans-serif;
}

/* styling scrollbar for every vendor */
/* Works on Firefox */
* {
  scrollbar-width: thin;
  scrollbar-color: rgba(255, 255, 255, 0.4) rgba(0, 0, 0, 1);
}